<?xml version="1.0" ?>
<robot name="carpet">

  <material name="front_color">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="back_color">
    <color rgba="0 1 1 1"/>
  </material>

  <link name="back">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="1.00"/>
      </geometry>
      <material name="back_color"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.05" radius="1.00"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <inertia ixx="0.00000633" ixy="0.0" ixz="0.0" iyy="0.00000633" iyz="0.0" izz="0.0000125"/>
    </inertial>
  </link>

  <link name="front">
    <visual>
      <geometry>
        <cylinder length="0.00" radius="0.00"/>
      </geometry>
      <origin xyz="0 0 0.01"/>
      <material name="front_color"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.00" radius="0.00"/>
      </geometry>
      <origin xyz="0 0 0.01"/>
    </collision>
    <inertial>
      <mass value="50"/>
      <inertia ixx="0.00000633" ixy="0.0" ixz="0.0" iyy="0.00000633" iyz="0.0" izz="0.0000125"/>
    </inertial>
  </link>

  <joint name="fixed" type="fixed">
    <parent link="back"/>
    <child link="front"/>
  </joint>

</robot>
